body{
    background-color: #fdfdfd;
}


.submit-button{
    width: 20%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px; 
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(203, 28, 66);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .submit-button:hover{
    background-color: rgb(203, 28, 66, 0.8); 
  }